<h2>Edit Managers</h2>

<form ng-submit='managersEditController.updateManager()'>
	<label for="name">Name:</label>
	<input id="name" ng-model="managersEditController.updatedManager.name">

	<label for="email">Email:</label>
	<input id="email" ng-model="managersEditController.updatedManager.email">

	<label for="office_number">OfficeNumber:</label>
	<input id="office_number" ng-model="managersEditController.updatedManager.office_number">

	<label for="cell_phone_number">Cell:</label>
	<input id="cell_phone_number" ng-model="managersEditController.updatedManager.cell_phone_number">

	<input type="submit" value="Update">	
</form>