<!-- new controller -->
<form ng-submit='managerNewController.saveManager()'>
    <label for='name'>Name: </label>
    <input type="text" ng-model='managerNewController.name' placeholder="name">
    <label for='email'>Email: </label>
    <input type="text" ng-model='managerNewController.email' placeholder="email">
    <label for='office_number'>Office Number: </label>
    <input type="text" ng-model='managerNewController.office_number' placeholder="office number">
    <label for='cell_phone_number'>Cell Number: </label>
    <input type="text" ng-model='managerNewController.cell_phone_number' placeholder="cell number">
    <input type="submit" value= 'Create'>
</form>

